akka {
  loglevel = INFO
}

spray.can.server {
  request-timeout = 20 s
  ssl-encryption = on
}

http-server {
  domain = "https://localhost:"${http-server.port}
  interface = localhost
  port = 8443
}

db {
  name = db
  user = owner
  pass = testpassword
}

truststore {
  path = /keystore.jks
  pass = testpassword
}

session {
  expiration-time = 7 d
}

mail {
  user = "user@gmail.com"
  pass = "testpassword"
  auth = true
  startttls-enable = true
  smtp-host = "smtp.gmail.com"
  port = 587
}

password-reset {
  expiration-time = 1 d
}
